* {
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

.card {
    display: flex;
    flex-wrap: wrap;
}

.card-body {
    margin: 20px;
    margin-left: 30em;
    border: solid 1px rgba(148, 41, 41, 0.781);
    color: rgb(7, 7, 7);
    background-color: rgb(204, 121, 19);
    border-radius: 7pt;
    width: 15rem;
    height: 20vh;
}

.card-title {
    border: solid 2px rgb(17, 144, 194);
    border-radius: 7pt;
    margin-top: 1em;
}

.card-text1 {
    margin-top: 1em;
}

.card-text2 {
    margin-top: 1em;
}